html{
    scroll-behavior:smooth;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
    background-color: rgb(191, 190, 189);

}

img{
    width: 100%;

}
section{
    padding: 100px 0;
    background: #122e44;

}
.section_title{
    margin-bottom: 30px;
}

.section_title h2{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .5s ease-in-out;


}
.section_title h2:hover{
    background: #24CAAC;

}
/* ------HEADER-------- */

header{
    background: #000;
    border-bottom: 1px solid rgb(238, 238, 238, 0.801);
    position: fixed; /*sayfa aşağı indikçe menü sabit kalır.*/
    width: 100%;
    z-index: 5;
}

.navbar{
    display: flex;   /*en üstteki şeyleri yanyana sıralar.*/
    justify-content: space-between; /* biri sağ köşeye diğerleri sol köşeye gider*/
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;

}
.nav_links{
    display: flex;

}
.nav_links li a{
    margin-left: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.nav_links li a:hover{
    background: #24CAAC;
}

.logo h2 a{
    color: #fff;
    text-transform: uppercase; /*yazıların hepsini büyük yapar.*/

}


/* ---------------------------------------------- */

.box{
    width: 450px;
    background-color:brown;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    color: aliceblue;
    font-family:  sans-serif;
    position:absolute;

    left: 2%;
    top: 23%;
    margin-left: -50px;

    margin-top: -50px;
    float: left;
}
.box h1{
    font-size: medium;
}

.box1{
    width: 500px;
    background-color:brown;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    color: aliceblue;
    font-family:  sans-serif;
    position:absolute;

    left: 30%;
    top: 23%;
    margin-left: -50px;

    margin-top: -50px;
}
.box1 h1{
    font-size: medium;
}

.box2{
    width: 630px;
    background-color:brown;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    color: aliceblue;
    font-family:  sans-serif;
    position:absolute;
    height: 154px;

    left: 62%;
    top: 23%;
    margin-left: -50px;

    margin-top: -50px;
    float: right;
}
.box2 h1{
    font-size: medium;
}

.linkler{

    position: absolute;
    left: 45%;
    top: 235%;




}
.linkler li{
    display: inline-block;
    width: 30px;
    font-size: x-large;

}
.linkler li:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
    transition: 0.3s;
}

.bkeh{
    width: 150px;

    background-color: goldenrod;

    position: absolute;
    left: 3.4%;
    top: 44.5%;
    margin-left: -50px;

    margin-top: -50px;
}

.boy{
    width: 150px;
    height: 148px;

    background-color: goldenrod;

    position: absolute;
    left: 13.7%;
    top: 44.5%;
    margin-left: -50px;

    margin-top: -50px;
}


.Aşı{
    width: 150px;
    height: 148px;

    background-color: goldenrod;

    position: absolute;
    left: 24%;
    top: 44.5%;
    margin-left: -50px;
    margin-top: -50px;
}

.parkinson{
    position: relative;
    margin-top: 500px;
    margin-bottom: 150px;
}


